---
import RootLayout from '../../layouts/RootLayout.astro';
import ArticleItem from '../../components/ArticleItem.astro';
import CategoriesList from '../../components/CategoriesList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (
  await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<RootLayout title={SITE_TITLE} shortDescription={SITE_DESCRIPTION}>
  <div class='mx-auto my-0 flex max-w-7xl flex-wrap justify-between pb-0'>
    <main class='flex-1 pb-14 lg:flex-[0_0_770px]'>
      <div class='divide-y divide-gray-200 dark:divide-gray-700'>
        <CategoriesList />
        {
          posts.map((post) => {
            return <ArticleItem slug={post.slug} {...post.data} />;
          })
        }
      </div>
    </main>
  </div>
</RootLayout>
