---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const ITEMS_COUNT = 5;

const posts = (
  await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).slice(0, ITEMS_COUNT);
---

<div class='my-4'>
  {
    posts.map((post) => {
      return (
        <a
          href={`/blog/${post.slug}`}
          class='my-8 flex cursor-pointer flex-row items-center gap-4 bg-primary-50 p-4 hover:bg-primary-100 dark:bg-background-600 hover:dark:bg-background-500'
        >
          {post.data.thumbnail && (
            <Image
              src={post.data.thumbnail}
              alt='post thumbnail'
              width={50}
              height={50}
            />
          )}
          <div class='sm:text-md max-w-56 text-xs sm:max-w-full'>
            {post.data.title}
          </div>
        </a>
      );
    })
  }
</div>
