---
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getBlogCollection } from '~/utils/content';

const ITEMS_COUNT = 5;

const locale = Astro.currentLocale || 'en';

const posts = (
  await getBlogCollection(locale, ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).slice(0, ITEMS_COUNT);
---

<div class='my-4'>
  {
    posts.map((post) => {
      return (
        <a
          href={getRelativeLocaleUrl(
            locale,
            `/blog/${post.category}/${post.id}`
          )}
          class='bg-primary-50 hover:bg-primary-100 dark:bg-background-600 hover:dark:bg-background-500 my-8 flex cursor-pointer flex-row items-center gap-4 p-4'
        >
          {post.data.thumbnail && (
            <Image
              src={post.data.thumbnail}
              alt='post thumbnail'
              width={128}
              quality={80}
              class='w-12'
            />
          )}
          <div class='font-body sm:text-md max-w-56 text-xs sm:max-w-full'>
            {post.data.title}
          </div>
        </a>
      );
    })
  }
</div>
