---
// import { cn } from '../utils/cn';
// import { X } from 'lucide-react';

// const activeClass =
//   'dark:text-white text-neutral-900 underline underline-offset-8';
// const inactiveClass =
//   'text-neutral-500 hover:text-neutral-800 dark:hover:text-neutral-200';

// const pathname = new URL(Astro.request.url).pathname;
// const segments = pathname.split('/');

const animationStateMachine = {
  currentState: 'idle',
  persistentClass: 'transition-transform duration-500',
  states: {
    idle: {
      class: 'bg-gray-200 translate-x-20 ease-in',
      timer: [600, 'active'],
    },
    active: {
      class: 'bg-blue-200 translate-x-40 ease-in-out',
      timer: [600, 'superActive'],
    },
    superActive: {
      class: 'bg-red-200 translate-x-0 ease-in',
      timer: [600, 'idle'],
    },
  },
};
---

<div class='mt-96' x-animachine={JSON.stringify(animationStateMachine)}>
  <div>
    <button x-on:click="$trigger('TOGGLE')"> Show </button>
    <div class='h-8 w-8' x-bind:class='currentStateClass'>hefefs</div>
    <div x-text='currentStateClass'></div>
    <div class='something'></div>
  </div>
</div>
