---
import { Image } from 'astro:assets';
import MobileNavMenu from './MobileNavMenu.astro';
import NavigationLinks from './NavigationLinks.astro';
import ThemeSwitchButton from './ThemeSwitchButton.astro';
---

<script is:inline>
  document.addEventListener('alpine:init', () => {
    Alpine.data('navbar', () => ({
      mobileMenuOpen: false,

      toggleMobileNavigation(state) {
        if (state) {
          document.body.style.overflow = 'hidden';
        } else {
          document.body.style.overflow = 'visible';
        }
        this.mobileMenuOpen = state;
      },
    }));
  });
</script>
<nav
  x-data='navbar'
  class='navbar sticky top-0 z-10 mb-12 mt-20 flex flex-row items-start py-4 pl-2 pr-4 md:-mx-[28px] md:px-5'
>
  <MobileNavMenu />

  <div
    class='backdrop absolute left-[-8px] right-[-8px] top-0 h-20 min-w-full backdrop-blur md:-mx-[28px]'
  >
  </div>

  <div
    class='img-container z-10 flex min-w-full flex-row justify-between space-x-0'
  >
    <a href='/' class='flex flex-row items-center'>
      <Image
        src='/logo.png'
        class='mr-4'
        alt='Coding Kittens website logo'
        width='48'
        height='48'
      />

      <!-- <img
			alt="website logo"
			loading="lazy"
			width="48"
			height="48"
			decoding="async"
			data-nimg="1"
			class="mr-4"
			style="color: transparent"
			srcset="
			/image?url=//logo.png&w=48 1x,
			/image?url=/static/assets/logo.png&w=96 2x
			"
			src="/image?url=/static/assets/logo.png&w=96"
		/> -->

      <div class='flex flex-col'>
        <p
          class='m-0 font-display text-2xl font-bold text-primary-600 dark:text-2xl dark:text-primary-100 sm:text-2xl sm:dark:text-2xl'
        >
          Coding Kittens
        </p>
        <p class='subtle m-0'>Curiosity Didn&apos;t Kill The Cat</p>
      </div>
    </a>

    <div class='flex flex-row-reverse gap-6 sm:flex-row'>
      <NavigationLinks />
      <ThemeSwitchButton />
    </div>
  </div>
</nav>
<style>
  @supports (animation-timeline: scroll()) {
    .navbar {
      --navbar-shrink: 0;

      animation: shrink;
      animation-timeline: scroll(nearest block);
      animation-timing-function: ease;
    }
  }

  .navbar .img-container {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: translateY(calc(0px - var(--navbar-shrink) * 12px));
  }
  .navbar .backdrop {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: translateY(calc(0px - var(--navbar-shrink) * 24px));
  }

  .navbar img {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: scale(calc(1 - var(--navbar-shrink) * 0.2));
  }

  .navbar h1,
  .navbar p {
    transition: opacity 0.3s ease;
    opacity: calc(1 - var(--navbar-shrink));
  }

  @keyframes shrink {
    0% {
      --navbar-shrink: 0;
    }
    10%,
    100% {
      --navbar-shrink: 1;
    }
  }
</style>
