---
import { cn } from '../utils/cn';
import { MenuIcon } from 'lucide-react';

const activeClass =
  'dark:text-white text-neutral-900 underline underline-offset-8';
const inactiveClass =
  'text-neutral-500 hover:text-neutral-800 dark:hover:text-neutral-200';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div
  class='hidden flex-row items-center sm:flex'
  hx-boost='true'
  hx-target='#page'
>
  <a
    href='/'
    class={cn(
      'flex align-middle transition-all',
      currentPath === '' ? activeClass : inactiveClass
    )}
  >
    <span class='relative px-2 py-1'>Me</span>
  </a>
  <a
    href='/blog'
    class={cn(
      'flex align-middle transition-all',
      currentPath === 'blog' ? activeClass : inactiveClass
    )}
  >
    <span class='relative px-2 py-1'>Blog</span>
  </a>
</div>
<div class='flex sm:hidden'>
  <button
    aria-label='Mobile nav menu button'
    class='-mx-4 -my-2 px-4 py-2'
    x-on:click='toggleMobileNavigation(true)'
  >
    <MenuIcon class='h-6 w-6' />
  </button>
</div>
