---
import { getRelativeLocaleUrl } from 'astro:i18n';

import { cn } from '~/utils/cn';
import { MenuIcon } from 'lucide-react';
import { useTranslations } from '~/i18n/utils';

const activeClass =
  'dark:text-white text-neutral-900 underline underline-offset-8';
const inactiveClass =
  'text-neutral-500 hover:text-neutral-800 dark:hover:text-neutral-200';

const pathname = new URL(Astro.request.url).pathname;
const segments = pathname.split('/');

const locale = Astro.currentLocale || 'en';

const t = useTranslations(locale);
---

<div class='hidden flex-row items-center sm:flex'>
  <a
    href={getRelativeLocaleUrl(locale, '/')}
    class={cn(
      'flex align-middle transition-all',
      pathname === getRelativeLocaleUrl(locale, '/')
        ? activeClass
        : inactiveClass
    )}
  >
    <span class='relative px-2 py-1'>{t('nav.home')}</span>
  </a>
  <a
    href={getRelativeLocaleUrl(locale, '/blog')}
    class={cn(
      'flex align-middle transition-all',
      segments.includes('blog') ? activeClass : inactiveClass
    )}
  >
    <span class='relative px-2 py-1'>{t('nav.blog')}</span>
  </a>
</div>
<div class='flex sm:hidden'>
  <button
    aria-label='Mobile nav menu button'
    class='-mx-4 -my-2 px-4 py-2'
    x-on:click='toggleMobileNavigation(true)'
  >
    <MenuIcon width={24} height={24} />
  </button>
</div>
