---
import { Moon, Sun } from 'lucide-react';
---

<button
  aria-label='Switch theme button'
  x-on:click='toggleTheme'
  class='-mx-4 -my-2 px-4 py-2'
>
  <span
    class='h-6 w-6 text-primary-600 dark:text-primary-100'
    x-cloak
    x-show.transition="theme === 'light'"
  >
    <Sun />
  </span>

  <span
    class='h-6 w-6 text-primary-600 dark:text-primary-100'
    x-cloak
    x-show.transition="theme === 'dark'"
  >
    <Moon />
  </span>
</button>
