---
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import logo from '~/assets/logo.png';
import LanguageSwitchButton from '~/components/LanguageSwitchButton.astro';
import MobileNavMenu from '~/components/MobileNavMenu.astro';
import NavigationLinks from '~/components/NavigationLinks.astro';
import ThemeSwitchButton from '~/components/ThemeSwitchButton.astro';

const locale = Astro.currentLocale || 'en';
---

<nav
  x-data='navbar'
  class='navbar sticky top-0 z-10 mt-20 mb-12 flex flex-row items-start py-4 pr-4 pl-2 md:-mx-[28px] md:px-5'
>
  <MobileNavMenu />

  <div
    class='backdrop absolute top-0 right-[-8px] left-[-8px] h-20 min-w-full backdrop-blur md:-mx-[28px]'
  >
  </div>

  <div
    class='img-container z-10 flex min-w-full flex-row justify-between space-x-0'
  >
    <a
      href={getRelativeLocaleUrl(locale, '/')}
      class='flex flex-row items-center'
    >
      <Image
        src={logo}
        width={96}
        height={96}
        quality={75}
        densities={[1, 2]}
        class='mr-4 w-12'
        alt='Coding Kittens website logo'
        loading='eager'
      />

      <div class='flex flex-col'>
        <p
          class='font-display text-primary-600 dark:text-primary-100 m-0 text-xl font-bold sm:text-2xl dark:text-xl sm:dark:text-2xl'
        >
          Coding Kittens
        </p>
        <p
          class='font-body text-primary-400 dark:text-primary-400 m-0 text-[10px] sm:text-xs dark:text-[10px] dark:sm:text-xs'
        >
          Curiosity Didn&apos;t Kill The Cat
        </p>
      </div>
    </a>

    <div class='flex flex-row-reverse gap-6 sm:flex-row'>
      <NavigationLinks />

      <LanguageSwitchButton />
      <ThemeSwitchButton />
    </div>
  </div>
</nav>
<style>
  @supports (animation-timeline: scroll()) {
    .navbar {
      --navbar-shrink: 0;

      animation: shrink;
      animation-timeline: scroll(nearest block);
      animation-timing-function: ease;
    }
  }

  .navbar .img-container {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: translateY(calc(0px - var(--navbar-shrink) * 12px));
  }
  .navbar .backdrop {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: translateY(calc(0px - var(--navbar-shrink) * 24px));
  }

  .navbar img {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: scale(calc(1 - var(--navbar-shrink) * 0.2));
  }

  .navbar h1,
  .navbar p {
    transition: opacity 0.3s ease;
    opacity: calc(1 - var(--navbar-shrink));
  }

  @keyframes shrink {
    0% {
      --navbar-shrink: 0;
    }
    10%,
    100% {
      --navbar-shrink: 1;
    }
  }
</style>

<script is:inline type='module'>
  const threshold = 500; // Adjust this threshold as needed

  function handleScroll() {
    const navbar = document.querySelector('.navbar');

    if (!navbar) {
      return;
    }

    const scrollY = window.scrollY || window.pageYOffset;

    if (scrollY > threshold) {
      navbar.style.setProperty('--navbar-shrink', '1');
    } else {
      navbar.style.setProperty('--navbar-shrink', '0');
    }
  }

  if (!CSS.supports('animation-timeline: scroll()')) {
    window.addEventListener('scroll', handleScroll);
  }
</script>
