---
import { Image } from 'astro:assets';
import type { HTMLAttributes, HTMLTag, Polymorphic } from 'astro/types';

type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag;
  alt: string;
  caption: { text: string };
}> &
  HTMLAttributes<'img'>;

const { alt, caption, ...props } = Astro.props;
---

<div class='flex justify-center'>
  <div class='w-80 max-w-sm drop-shadow-xl'>
    <Image
      {...props}
      alt={alt ?? ''}
      class='m-auto h-auto w-full sepia-[.40]'
    />
    <div class='bg-primary-50 dark:bg-background-500 shadow-lg'>
      {caption && <p class='prose subtle m-0 p-4'>{caption.text}</p>}
    </div>
  </div>
</div>
