---
const { class: extendedClass, ...props } = Astro.props;
const content = await Astro.slots.render('default');
const unstyled = content.startsWith('#unstyled');

const parsedContent = unstyled ? content.replace('#unstyled', '') : content;
---

<a
  {...props}
  class:list={[
    !unstyled &&
      'text-md font-body text-accent-500 hover:text-accent-400 dark:text-accent-400 dark:hover:text-accent-300 underline underline-offset-4',
    extendedClass,
  ]}
>
  {parsedContent}
</a>
